body {
	font-family: cursive, sans-serif;
	font-size: 2em;
	color: #333;
	text-align: center;
	padding: 50px;
	background-color: #1a1a41;
}

h1 {
	font-size: 3em;
	color: #ff6347;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

button {
	padding: 15px 30px;
	font-size: 1.2em;
	color: white;
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

.noButtonHidden {
	visibility: hidden;
}

.noButtonMoved {
	order: 1;
}

.btnYes {
	order: 2;
	background: limegreen;
}

.btnYes:hover {
	background: darkgreen;
}

.btnYes:active {
	transform: scale(0.9);
}

.btnNo {
	background: tomato;
}

.noButtonDisabled {
	background: gray !important;
	cursor: not-allowed !important;
}

.buttonsHolder {
	display: flex;
	justify-content: center;
	gap: 20px;
}
